<a href="https://colab.research.google.com/github/chanlee4345/invest/blob/main/bt_%EC%82%AC%EA%B3%84%EC%A0%88%EC%8B%9C%EC%A6%8C%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install bt
!pip install finterstellar

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bt
  Downloading bt-0.2.9.tar.gz (2.7 MB)
     |████████████████████████████████| 2.7 MB 5.1 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting ffn>=0.3.5
  Downloading ffn-0.3.6-py2.py3-none-any.whl (25 kB)
Collecting pyprind>=2.11
  Downloading PyPrind-2.11.3-py2.py3-none-any.whl (8.4 kB)
Requirement already satisfied: tabulate>=0.7.5 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (0.8.10)
Requirement already satisfied: matplotlib>=1 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (3.2.2)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (1.3.5)
Requirement already satisfied: numpy>=1.5 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (1.21.6)
Requirement already satisfied: scikit-learn>=0.15 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (1.0.2)
Requirement already satisfied: scipy>=0.15 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (1.7.3)
Requirement already satisfied: future>=0.15 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (0.16.0)
Requirement already satisfied: pandas-datareader>=0.2 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (0.9.0)
Requirement already satisfied: decorator>=4 in /usr/local/lib/python3.7/dist-packages (from ffn>=0.3.5->bt) (4.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn>=0.3.5->bt) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn>=0.3.5->bt) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn>=0.3.5->bt) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn>=0.3.5->bt) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1->ffn>=0.3.5->bt) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->ffn>=0.3.5->bt) (2022.1)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader>=0.2->ffn>=0.3.5->bt) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader>=0.2->ffn>=0.3.5->bt) (4.9.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1->ffn>=0.3.5->bt) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn>=0.3.5->bt) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn>=0.3.5->bt) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn>=0.3.5->bt) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn>=0.3.5->bt) (2022.6.15)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.15->ffn>=0.3.5->bt) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.15->ffn>=0.3.5->bt) (3.1.0)
Building wheels for collected packages: bt
  Building wheel for bt (PEP 517) ... done
  Created wheel for bt: filename=bt-0.2.9-cp37-cp37m-linux_x86_64.whl size=765317 sha256=87a98c5eb8c420d51eabf622bd15d0c5fad2cc2d7857f7758a96de8926a53e33
  Stored in directory: /root/.cache/pip/wheels/c5/1a/3f/b56e6064b766c107f25e200969161c09ca6868cbfe0eaa31e4
Successfully built bt
Installing collected packages: pyprind, ffn, bt
Successfully installed bt-0.2.9 ffn-0.3.6 pyprind-2.11.3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting finterstellar
  Downloading finterstellar-0.1.19-py3-none-any.whl (12 kB)
Collecting pandas-datareader>=0.10.0
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 5.0 MB/s
Requirement already satisfied: lxml>=4.2.6 in /usr/local/lib/python3.7/dist-packages (from finterstellar) (4.9.1)
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.7/dist-packages (from finterstellar) (2.23.0)
Requirement already satisfied: pandas>=1.1.4 in /usr/local/lib/python3.7/dist-packages (from finterstellar) (1.3.5)
Requirement already satisfied: numpy>=1.19.3 in /usr/local/lib/python3.7/dist-packages (from finterstellar) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.4->finterstellar) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.4->finterstellar) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.4->finterstellar) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->finterstellar) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->finterstellar) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->finterstellar) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->finterstellar) (2.10)
Installing collected packages: pandas-datareader, finterstellar
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed finterstellar-0.1.19 pandas-datareader-0.10.0

In [2]:
import bt
import finterstellar as fs
import pandas as pd
%matplotlib inline

In [3]:
U = ['SPY','IEF','TLT','GLD','DBC']
initial_capital = 100000.0

In [101]:
df = pd.DataFrame()
for ticker in U:
  df[ticker] = fs.get_ohlc(ticker, start_date='2001-01-01')['Adj Close']
df = df.dropna()
df['CASH'] = 100.00
df

              SPY    IEF    TLT    GLD   DBC   CASH
Date
2006-02-06  91.71  55.38  55.26  56.72 22.05 100.00
2006-02-07  90.90  55.32  55.00  54.60 21.41 100.00
2006-02-08  91.72  55.28  54.87  54.83 21.32 100.00
2006-02-09  91.57  55.34  55.12  56.18 21.52 100.00
2006-02-10  91.74  55.18  54.82  54.79 21.13 100.00
...           ...    ...    ...    ...   ...    ...
2022-07-26 390.89 103.75 117.27 160.04 25.39 100.00
2022-07-27 401.04 103.96 116.61 161.67 25.97 100.00
2022-07-28 406.07 104.99 117.54 163.64 25.99 100.00
2022-07-29 411.99 105.03 117.22 164.10 26.11 100.00
2022-08-01 410.77 105.60 120.04 165.03 25.58 100.00

[4150 rows x 6 columns]

# all season 전략, SPY buy & hold

In [102]:
s1 = bt.Strategy('all_season',
                [bt.algos.RunMonthly(run_on_end_of_period=True),
                 bt.algos.SelectAll(),
                 bt.algos.WeighSpecified(SPY=0.3,IEF=0.15,TLT=0.4,GLD=0.075,DBC=0.075),
                 bt.algos.Rebalance(),
                 ])
bt1 = bt.Backtest(s1, df, initial_capital=initial_capital)

In [103]:
def buy_and_hold(data, name='buy_and_hold'):
  s = bt.Strategy(name, [bt.algos.RunOnce(),
                         bt.algos.SelectAll(),
                         bt.algos.WeighEqually(),
                         bt.algos.Rebalance()])
  return bt.Backtest(s, data, initial_capital=initial_capital)

In [104]:
spy = buy_and_hold(df['SPY'].to_frame(), name='spy')

# all season 시즌제
- 11월에서 4월 사이에만 사면 된다.
  - 4월말에 매도, 10월말에 매수
- 가격 변동이 없는 CASH 자산을 임의로 만들고, 5~10월에는 CASH를 100% 보유

In [233]:
class WeighAllSeasonSeason(bt.Algo):
  def __init__(self):
    super(WeighAllSeasonSeason, self).__init__()

  def __call__(self, target):
    current_month = target.universe[['CASH']].loc[target.now].name.month
    if current_month >= 10 or current_month < 4: # invest
      weights = pd.Series([0.3,0.15,0.4,0.075,0.075],
                          ['SPY','IEF','TLT','GLD','DBC'])
    else: # rest. all cash
      weights = pd.Series([1.0], ['CASH'])

    target.temp['weights'] = weights
    target.temp['selected'] = list(weights.index)

    return True

In [234]:
from bt.algos import PrintDate
s2 = bt.Strategy('all_season_season',
                [bt.algos.RunMonthly(run_on_end_of_period=True),
                 bt.algos.SelectAll(),
                 WeighAllSeasonSeason(),
                 #bt.algos.PrintTempData(),
                 bt.algos.Rebalance(),
                 ])
bt2 = bt.Backtest(s2, df, initial_capital=initial_capital)

In [235]:
res = bt.run(bt2, bt1, spy)

In [236]:
res.display_monthly_returns()

  Year    Jan    Feb    Mar    Apr    May    Jun    Jul    Aug    Sep    Oct    Nov    Dec     YTD
------  -----  -----  -----  -----  -----  -----  -----  -----  -----  -----  -----  -----  ------
  2006   0      0.17  -1.06   0.6       0      0      0      0      0      0   2.72  -1.18    1.21
  2007   0      1.65  -0.39   1.99      0      0      0      0      0      0   1.41   0.42    5.17
  2008   0.55   0.45   0.27   0.21      0      0      0      0      0      0   4.82   6.85   13.68
  2009  -8.19  -4.25   4.77  -0.47      0      0      0      0      0      0   3.93  -3.17   -7.75
  2010  -0.34   1.4    0.78   2.77      0      0      0      0      0      0  -0.68   0.93    4.92
  2011  -0.75   2.43   0.31   3.09      0      0      0      0      0      0   0.86   0.98    7.08
  2012   2.5    0.28  -1.2    1.99      0      0      0      0      0      0   0.89  -1.13    3.32
  2013   0.22   0.31   1.13   1.83      0      0      0      0      0      0  -0.8   -0.52    2.16
  2014   1.95   2.47   0.22   1.28      0      0      0      0      0      0   1.53   0.62    8.32
  2015   3.9   -1.25  -0.52  -0.65      0      0      0      0      0      0  -1.3   -1.18   -1.08
  2016   1.31   2.23   2.22   0.91      0      0      0      0      0      0  -3.31   0.57    3.88
  2017   1.25   2.14  -0.49   1.02      0      0      0      0      0      0   1.26   1.48    6.84
  2018   0.53  -2.81   0.71  -0.69      0      0      0      0      0      0   0.76   0.2    -1.34
  2019   3.39   0.51   3.02   0.39      0      0      0      0      0      0   0.57   0.16    8.27
  2020   3.27   0.18  -1.95   4.64      0      0      0      0      0      0   4.34   1.51   12.43
  2021  -1.91  -1.52  -1.23   3.58      0      0      0      0      0      0   0.32   1.24    0.37
  2022  -2.99  -0.64  -0.88  -6.74      0      0      0      0      0      0   0      0     -10.9

In [237]:
res.display()

Stat                 all_season_season    all_season    spy
-------------------  -------------------  ------------  ----------
Start                2006-02-05           2006-02-05    2006-02-05
End                  2022-08-01           2022-08-01    2022-08-01
Risk-free rate       0.00%                0.00%         0.00%

Total Return         69.05%               190.09%       347.78%
Daily Sharpe         0.60                 0.88          0.56
Daily Sortino        0.90                 1.41          0.86
CAGR                 3.24%                6.67%         9.52%
Max Drawdown         -13.88%              -17.15%       -55.17%
Calmar Ratio         0.23                 0.39          0.17

MTD                  0.00%                0.85%         -0.30%
3m                   0.00%                0.10%         0.13%
6m                   -8.23%               -8.15%        -8.64%
YTD                  -10.90%              -10.82%       -12.87%
1Y                   -9.50%               -8.16%        -4.99%
3Y (ann.)            0.43%                5.64%         13.51%
5Y (ann.)            1.99%                6.49%         12.62%
10Y (ann.)           2.67%                5.44%         13.69%
Since Incep. (ann.)  3.24%                6.67%         9.52%

Daily Sharpe         0.60                 0.88          0.56
Daily Sortino        0.90                 1.41          0.86
Daily Mean (ann.)    3.34%                6.76%         11.10%
Daily Vol (ann.)     5.57%                7.67%         19.94%
Daily Skew           -0.54                -0.40         -0.09
Daily Kurt           17.57                5.87          14.76
Best Day             3.02%                3.19%         14.51%
Worst Day            -4.36%               -4.36%        -10.94%

Monthly Sharpe       0.61                 0.90          0.67
Monthly Sortino      1.01                 1.53          1.10
Monthly Mean (ann.)  3.33%                6.74%         10.22%
Monthly Vol (ann.)   5.48%                7.47%         15.26%
Monthly Skew         -0.38                -0.81         -0.62
Monthly Kurt         7.76                 2.97          1.36
Best Month           6.85%                6.85%         12.70%
Worst Month          -8.19%               -8.90%        -16.51%

Yearly Sharpe        0.53                 0.78          0.58
Yearly Sortino       1.08                 2.48          1.11
Yearly Mean          3.46%                6.81%         10.57%
Yearly Vol           6.57%                8.73%         18.14%
Yearly Skew          -0.67                -0.40         -1.19
Yearly Kurt          0.46                 -0.80         1.81
Best Year            13.68%               18.84%        32.30%
Worst Year           -10.90%              -10.82%       -36.78%

Avg. Drawdown        -1.21%               -1.19%        -1.73%
Avg. Drawdown Days   41.52                26.36         21.17
Avg. Up Month        1.63%                1.68%         3.21%
Avg. Down Month      -0.41%               -1.68%        -3.97%
Win Year %           75.00%               62.50%        81.25%
Win 12m %            92.02%               82.45%        82.45%